img{
    width: 300px;

}

.pics{
    text-align: center;
}


/*.input[type="radio"]{*/
/*    display: none;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

input[type="no-radio"]{
    display: none;
    justify-content: center;
    align-items: center;
}

.saveButton{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}